.bubbles_container {
  --circle-size: 400px;
  --mid-circle-size: 200px;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.b1 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--light-gray-vals), 0.8) 0,
      rgba(var(--light-gray-vals), 0) 50%
    )
    no-repeat;
  /* mix-blend-mode: var(--blending); */

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: center center;
  animation: moveVertically 30s ease infinite;

  opacity: 1;
}

.b2 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--gold-vals), 0.8) 0,
      rgba(var(--gold-vals), 0) 50%
    )
    no-repeat;
  /* mix-blend-mode: var(--blending); */

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 + 40px);
  left: calc(50% - var(--circle-size) / 2 -35px);

  transform-origin: calc(50% - 80px);
  animation: rotateInCircle 30s reverse infinite;

  opacity: 1;
}

.b3 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--ivory-vals), 0.8) 0,
      rgba(var(--ivory-vals), 0) 50%
    )
    no-repeat;
  /* mix-blend-mode: var(--blending); */

  width: var(--circle-size);
  height: var(--circle-size);
  top: 10%;
  left: 70%;

  transform-origin: calc(50% + 100px);
  animation: moveHorizontally 25s reverse infinite;

  opacity: 1;
}

.b4 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(255, 255, 255, 0.8) 0,
      rgba(255, 255, 255, 0) 50%
    )
    no-repeat;
  /* mix-blend-mode: var(--blending); */

  width: var(--mid-circle-size);
  height: var(--mid-circle-size);
  top: 35%;
  left: 20%;

  transform-origin: 30% -25%;
  animation: backAndForthRotation 15s reverse infinite;

  opacity: 1;
}

.svg {
  display: none;
}

@keyframes rotateInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertically {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontally {
  0% {
    transform: translateX(-80%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-80%);
  }
}

@keyframes backAndForthRotation {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
